* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #7091E6;
}

body {}

.main-clock {
    background-image: url(clock-img.jpg);
    width: 90%;
    height: 1000px;
    background-repeat: no-repeat;
    margin: auto;
    background-position: center;

    height: 35em;
    background-size: 80% 100%;
    border: 2px solid red;
    position: relative;
}

.clock {
    width: 3px;
    height: 3px;
    
    position: absolute;
    transform-origin: bottom;
    
}

#hour {
    height: 145px;
    background-color: blue;
    left: 50%;
    top: 26%;

}
#minut{
    height: 175px;
    background-color: red;
    left: 50%;
    top: 21%;
    
}
#second{
    height: 195px;
    background-color: yellow;
    left: 50%;
    top: 17%;
    
}
